@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-primary: #2c1f4a;
  --bg-secondary: #7f56d9;
  --bg-accent: #381d74;
  --text-light: #fff;
  --fs-balinese: "Noto Serif Balinese", serif;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--bg-primary);
  font-family: "Roboto", sans-serif;
  /* font-family: "Noto Serif Balinese", serif; */
}
